/lesson 9/Calculator/nbproject/private/
/lesson 9/Calculator/build/
/lesson 10/EmployeeManager/nbproject/private/
/lesson 10/EmployeeManager/build/
/lesson 11/EmployeeManager/build/
/lesson 11/EmployeeManager/nbproject/private/
/lesson13/CalculatorGUI/nbproject/private/
/lesson13/CalculatorGUI/build/
/lesson14/CalculatorApp/nbproject/private/
/lesson14/CalculatorApp/build/
/lesson12/OnHundredClasses/nbproject/private/
/lesson12/OneHundredClasses/nbproject/private/